streamlit==1.46.0
langchain==0.3.26
langchain-community==0.3.27
langchain-text-splitters==0.3.8
langchain-huggingface==0.3.0
langchain-mistralai==0.2.11
sentence-transformers==5.0.0
faiss-cpu==1.11.0
pypdf==5.7.0
python-dotenv==1.1.1
torch==2.7.1
torchvision==0.22.1
transformers==4.53.1
